{{> uklad}}
<div class="leftbar">

	<div class="menuleft" id="nowyFolder">nowy folder</div>
	<div class="menuleft" id="nowyPlik">nowy plik</div>
	{{#if sciezka}}
	<div class="menuleft" id="zmianaNazwy">zmiana nazwy folderu</div>
	{{/if}}
	<div class="menuleft duzyGuzik">
		<div class="divStrzałka">
			<img src="https://www.svgrepo.com/show/167030/up-arrow-hand-drawn-outline.svg" alt="strzałka"
				class="obrazek1" id="strzałka">
		</div>

		<div>
			<form enctype="multipart/form-data" method="POST" action="/handleUpload" id="hiddenForm">
				<input type="hidden" name="sciezka" value="{{sciezka}}">
				<input type="file" name="plik" id="plik" multiple required hidden>
				<label for="plik">Wybierz</label>
			</form>
		</div>
		<button type="submit" form="hiddenForm">OK</button>
	</div>

	<br>
	<div class="infotext">
		<p>Wybierz - wybierz pliki</p>
		<p>OK - button submit</p>
	</div>
</div>


<div class="content3">
	<div class="content5">
		{{{filePath sciezka}}}
	</div>
	<div class="content4">
		{{#each katalogi}}
		<div class="divKatalog">
			<form action="/usunKatalog" method="POST">
				<input type="hidden" name="sciezka" value="{{../sciezka}}">
				<button type="submit" class="buttonDelete" value="{{../sciezka}}/{{name}}" name="nazwa">X</button>
			</form>
			<div>
				<img src="https://cdn-icons-png.flaticon.com/512/716/716784.png" alt="katalog">
			</div>
			<a href="/filemanager?name={{../sciezka}}/{{name}}">{{shortName name}}</a>
		</div>
		{{/each}}
	</div>
	<div class="content4">
		{{#each pliki}}
		<div class="divPlik">
			<form action="/usunPlik" method="POST">
				<input type="hidden" name="sciezka" value="{{../sciezka}}">
				<button type="submit" class="buttonDelete" value="{{../sciezka}}/{{name}}" name="nazwa">X</button>
			</form>
			<div>
				<img src="{{image}}" alt="plik">
			</div>
			<a>{{shortName name}}</a>
		</div>

		{{/each}}
	</div>
</div>

<dialog id="dialog1" class="dialog1">
	<form action="/nowyKatalog" method="GET" id="dialogForm1">
		<input type="hidden" name="sciezka" value="{{sciezka}}">
		<br>
		<p>nazwa nowego folderu</p>
		<br>
		<input type="text" name="nazwa" id="nazwa">
		<br> <br>
		<button type="submit" class="button2">OK</button>
		<button type="reset" onclick="zamknijDialog1()" class="button2">cancel</button>
	</form>
</dialog>

<dialog id="dialog2" class="dialog2">
	<form action="/nowyPlik" method="GET" id="dialogForm2">
		<input type="hidden" name="sciezka" value="{{sciezka}}">
		<br>
		<p>nazwa nowego pliku</p>
		<br>
		<input type="text" name="nazwa" id="nazwa">
		<br> <br>
		<button type="submit" class="button2">OK</button>
		<button type="reset" onclick="zamknijDialog2()" class="button2">cancel</button>
	</form>
</dialog>

<dialog id="dialog3" class="dialog1">
	<form action="/zmianaNazwy" method="GET" id="dialogForm2">
		<input type="hidden" name="sciezka" value="{{sciezka}}">
		<br>
		<p>zmiana nazwy folderu</p>
		<br>
		<input type="text" name="nazwa" id="nazwa" required>
		<br> <br>
		<button type="submit" class="button2">OK</button>
		<button type="reset" onclick="zamknijDialog3()" class="button2">cancel</button>
	</form>
</dialog>