<tr>
	<td>{{id}}</td>
	<td><img src="{{image}}" alt="obrazek"></td>
	<td>{{name}}</td>
	<td>{{size}}</td>
	<td>{{type}}</td>
	<td><a href="/show?id={{id}}" class="link2">SHOW</a></td>
	<td><a href="/info?id={{id}}" class="link2">INFO</a></td>
	<td><a href="/download?id={{id}}" class="link2">DOWNLOAD</a></td>
	<td><a href="/delete?id={{id}}" class="link2">DELETE</a></td>
</tr>