<h1 class="naglowek">{{subject}}</h1>
<br>

<div class="content5">
    <form action="/" method="get">
        <input type="text" name="text" id="text"> <br> <br>
        <button type="submit" class="button">Submit</button> <br> <br>
    </form>
</div>

<br>

<div class="content4 szerszy">
    <p class="naglowek4">tekst wyjściowy:</p>&nbsp;
    {{tekst}}
</div>
<br>
<div class="content4 szerszy">
    <p class="naglowek4">10 znaków:</p>&nbsp;
    {{shortTitle title}}
</div>
<br>
<br>
<div class="content4 szerszy">
    <p class="naglowek4">duże litery:</p>&nbsp;
    {{duzeLitery title}}
</div>
<br>
<br>
<div class="content4 szerszy">
    <p class="naglowek4">myślniki:</p>&nbsp;
    {{myslniki title}}
</div>
<br>