<h1 class="naglowek">{{title}}</h1>
<br><br>

<div class="flex2">
	<form action="/dodajDokument" method="POST">
		<div class="flex1">
			<table class="tabela1">
				<caption class="naglowek2">Dane pojazdu:</caption>
				{{#each pola}}
				<tr>
					<td><label for={{name}}>{{name}}</label></td>
					<td><input type="checkbox" name={{name}} id={{name}}></td>
				</tr>
				{{/each}}
			</table>
			<button type="submit" class="button">Dodaj do bazy</button>
		</div>
	</form>
	<table class="tabela2">
		<caption class="naglowek2">Wszystkie pojazdy</caption>
		<tr>
			<th>id</th>
			<th>ubezpieczony</th>
			<th>benzyna</th>
			<th>uszkodzony</th>
			<th>naped4x4</th>
			<th></th>
			<th></th>
		</tr>
		{{#each nowatabelka}}
		<tr>
			<td>{{_id}}</td>
			<td id="{{_id}}ubezpieczony">{{ubezpieczony}}</td>
			<td id="{{_id}}benzyna">{{benzyna}}</td>
			<td id="{{_id}}uszkodzony">{{uszkodzony}}</td>
			<td id="{{_id}}naped">{{naped}}</td>
			<td><a href="/delete?id={{_id}}" class="buttonDelete malyButton" id="{{_id}}delete">DELETE</a></td>
			<td><a class="buttonEdit malyButton" id="{{_id}}edit">EDIT</a></td>
		</tr>
		{{/each}}
	</table>
</div>

<script>
	//href="/edit?id={{_id}}"

	console.log(document.querySelectorAll(".buttonEdit"))
	let butonyEditowe = document.querySelectorAll(".buttonEdit")

	for (let i = 0; i < butonyEditowe.length; i++) {
		butonyEditowe[i].addEventListener("click", klikamEdit)
		console.log(butonyEditowe[i])
	}
	function klikamEdit() {
		//console.log(this)
		this.innerText = "UPDATE"
		this.classList.remove("buttonEdit")
		this.classList.add("buttonUpdate")

		let lepszeId = this.id.substring(0, 1)

		//this.setAttribute("href", "/edit")

		/*
				fetch('/fetchEdit', {
					method: 'POST',
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify({ x: "siu" })
				})
					.then(response => response.json())
					.then(data => {
						console.log(data)
					})
					.catch(error => console.log(error));
					*/

		let select = `<select id="${this.id.substring(0, 1)}select" name="${lepszeId}select">
			<option value="NIE">NIE</option>
			<option value="TAK">TAK</option>
			</select>`

		//<option value="BRAKDANYCH">BRAKDANYCH</option>
		//console.log(select)

		console.log(document.getElementById(`${lepszeId}ubezpieczony`))

		let komorkaUbezpieczony = document.getElementById(`${lepszeId}ubezpieczony`)
		let komorkaBenzyna = document.getElementById(`${lepszeId}benzyna`)
		let komorkaUszkodzony = document.getElementById(`${lepszeId}uszkodzony`)
		let komorkaNaped = document.getElementById(`${lepszeId}naped`)

		komorkaUbezpieczony.innerText = ""
		komorkaUbezpieczony.innerHTML = select
		komorkaBenzyna.innerText = ""
		komorkaBenzyna.innerHTML = select
		komorkaUszkodzony.innerText = ""
		komorkaUszkodzony.innerHTML = select
		komorkaNaped.innerText = ""
		komorkaNaped.innerHTML = select


		let bratniGuzik = document.getElementById(`${lepszeId}delete`)
		bratniGuzik.innerText = "CANCEL"
		bratniGuzik.classList.remove("buttonDelete")
		bratniGuzik.classList.add("buttonEdit")
		bratniGuzik.removeAttribute("href")
		bratniGuzik.addEventListener("click", klikamCancel)

		this.removeEventListener("click", klikamEdit)
	}

	function klikamCancel() {

	} //TODO

	/* function fetchPost(klikniete) {

	   const body = JSON.stringify({}); // body czyli przesyłane na serwer dane

	   const headers = { "Content-Type": "application/json" }; // nagłowek czyli typ danych

	   fetch("/fetch", { method: "post", body, headers }) // fetch
		   .then(response => response.json())
		   .then(
			   data => {
		   	
			   } // dane odpowiedzi z serwera
		   )
   } */
</script>