{{> uklad}}
<div class="leftbar">
	<p class="szarynapis">file info</p>
</div>
<div class="content1">
	<div class="infopliku">
		<div>
			<p>id:&nbsp;</p>
			<p>{{id}}</p>
		</div>
		<div>
			<p>name:&nbsp;</p>
			<p>{{name}}</p>
		</div>
		<div>
			<p>path:&nbsp;</p>
			<p>{{path}}</p> {{!-- nie wiem do końca jak mogę złamać ten wiersz żeby on nie wychodził poza stronę tak
			jakby--}}
		</div>
		<div>
			<p>size:&nbsp;</p>
			<p>{{size}}</p>
		</div>
		<div>
			<p>type:&nbsp;</p>
			<p>{{type}}</p>
		</div>
		<div>
			<p>savedate:&nbsp;</p>
			<p>{{savedate}}</p>
		</div>

		{{!-- <p>name: {{name}}</p>
		<p>path: {{path}}</p>
		<p>size: {{size}}</p>
		<p>type: {{type}}</p>
		<p>savedate: {{savedate}}</p> --}}
	</div>
</div>